{% extends './plantillaPrin.html' %}
{% load static %}

{% block contenido %}
    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5">
        <div class="owl-carousel header-carousel position-relative mb-5">
            <div class="owl-carousel-item position-relative">
                <img class="img-fluid" src="{% static 'img/carousel-1.jpg' %}" alt="">
                <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(6, 3, 21, .5);">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h5 class="text-white text-uppercase mb-3 animated slideInDown">Centro de Soluciones Logísticas</h5>
                                <h1 class="display-3 text-white animated slideInDown mb-4">Tu mejor aliado en <span class="text-primary">Envíos</span> y Mensajería</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-2">Entregamos tus documentos y paquetes con seguridad, rapidez y confianza a cualquier destino.</p>
                                <a href="{% url 'registrar_pedido' %}" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Realizar Envío</a>
                                <a href="{% url 'rastrear_pedido' %}" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Rastrear ahora</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Tracking Box Start -->
    <div class="container-fluid wow fadeInUp" data-wow-delay="0.1s" style="margin-top: -100px; position: relative; z-index: 10;">
        <div class="container">
            <div class="bg-white shadow p-5">
                <div class="row g-4 align-items-end">
                    <div class="col-lg-12">
                        <h4 class="mb-4">Rastrea tu envío</h4>
                        <form action="{% url 'rastrear_pedido' %}" method="post">
                            {% csrf_token %}
                            <div class="row g-3">
                                <div class="col-md-9">
                                    <input type="text" name="numero_tracking" class="form-control form-control-lg border-primary" placeholder="Ingresa tu número de tracking (ej. RE-XXXXXX)" required>
                                </div>
                                <div class="col-md-3">
                                    <button class="btn btn-primary btn-lg w-100" type="submit">Buscar Pedido</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tracking Box End -->


    <!-- About Start -->
    <div class="container-fluid overflow-hidden py-5 px-lg-0 mt-5">
        <div class="container about py-5 px-lg-0">
            <div class="row g-5 mx-lg-0">
                <div class="col-lg-6 ps-lg-0 wow fadeInLeft" data-wow-delay="0.1s" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{% static 'img/about.jpg' %}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 about-text wow fadeInUp" data-wow-delay="0.3s">
                    <h6 class="text-secondary text-uppercase mb-3">Sobre Nosotros</h6>
                    <h1 class="mb-5">Soluciones Logísticas Rápidas y Seguras</h1>
                    <p class="mb-5">Conecta tus ideas, negocios y familia a través de nuestra red logística. Nos encargamos de todo el proceso para que tus paquetes lleguen a tiempo y en perfectas condiciones.</p>
                    <div class="row g-4 mb-5">
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                            <i class="fa fa-globe fa-3x text-primary mb-3"></i>
                            <h5>Cobertura Nacional e Internacional</h5>
                            <p class="m-0">Llegamos a cada rincón del país y del mundo.</p>
                        </div>
                        <div class="col-sm-6 wow fadeIn" data-wow-delay="0.7s">
                            <i class="fa fa-shipping-fast fa-3x text-primary mb-3"></i>
                            <h5>Entregas a Tiempo</h5>
                            <p class="m-0">Garantizamos el cumplimiento de nuestros tiempos de entrega.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container py-5">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-secondary text-uppercase">Nuestros Servicios</h6>
                <h1 class="mb-5">Explora nuestras soluciones</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="{% static 'img/service-1.jpg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Transporte Aéreo</h4>
                        <p>La opción más rápida para tus envíos urgentes a nivel nacional e internacional.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="{% static 'img/service-2.jpg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Transporte Marítimo</h4>
                        <p>Ideal para cargas grandes y pesadas con costos optimizados.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item p-4">
                        <div class="overflow-hidden mb-4">
                            <img class="img-fluid" src="{% static 'img/service-3.jpg' %}" alt="">
                        </div>
                        <h4 class="mb-3">Transporte Terrestre</h4>
                        <p>Nuestra amplia flota de vehículos conecta todas las ciudades del país.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->
{% endblock %}